@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Nabataean&family=Oswald:wght@300&family=Roboto+Mono:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
}

/* Home Page */
.container-1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  background-color: #DADEE2;
}

.container-1 h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  background: linear-gradient(to right, rgb(5, 32, 59), rgb(82, 162, 240));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;
}

.container-1 h2 {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: -0.2em;
  background: linear-gradient(to left, rgb(5, 32, 59), rgb(82, 162, 240));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img {
  height: 400px;
  width: 400px;
  margin: 10px;
}

.container-1 p {
  font-family: 'Roboto Mono', monospace;
  color: #0E4C8A;
}

.container-1 a {
  font-family: 'Roboto Mono', monospace;
  color: #52A2F0;
}

.container-1 a:visited {
  color: #05203B;
}

/* Not Found Page */
.not-found-container {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #26598D;
}

.error-icon {
  width: 200px;
  height: 200px;
  background-color: #26598D;
}

.not-found-header {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  background: linear-gradient(to right, rgb(5, 32, 59), rgb(82, 162, 240));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;
  background-color: #DADEE2;
}

/* Projects page */

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.projects-container a {
  text-decoration: none;
}

.img-container {
  box-shadow: inset 0 0 0 0 #65B1FE;
  transition: .5s;
  height: 600px;
  width: 500px;
  margin-top: 10px;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.img-container img {
  object-fit: contain;
}

.img-container h1 {
  opacity: 0;
  align-self: center;
  color: white;
  font-family: 'Oswald', sans-serif;
}

.img-container p {
  opacity: 0;
  align-self: center;
  color: white;
  font-family: 'Oswald', sans-serif;
}

.img-container:hover {
  box-shadow: inset 500px 0 0 0 #26598D;
  transition: .5s;
}

.img-container:hover h1 {
  opacity: 1;
  transition: .5s;
}

.img-container:hover p {
  opacity: 1;
  transition: .5s;
}


/* Media queries */
@media (min-width: 475px) {
  .container-1 {
    max-width: 475px;
  }

  img {
    height: 400px;
    width: 400px;
  }
}

@media (min-width: 640px) {
  .container-1 {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container-1 {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container-1 {
    max-width: 1024px;
  }

  h1 {
    font-size: 4rem;
  }

  img {
    height: 500px;
    width: 500px;
  }
}

@media (min-width: 1280px) {
  .container-1 {
    max-width: 1280px;
  }

  h1 {
    font-size: 5rem;
  }

  img {
    height: 600px;
    width: 600px;
  }
}

/* XXL - Cannot be viewed on my local */
@media (min-width: 1536px) {
  .container-1 {
    max-width: 1536px;
  }

  h1 {
    font-size: 5rem;
  }

  img {
    height: 600px;
    width: 600px;
  }
}