@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Nabataean&family=Oswald:wght@300&family=Roboto+Mono:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #DADEE2;
}

/* Home Page */
.container-1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-1 h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 3.5rem;
  background: linear-gradient(to right, rgb(5, 32, 59), rgb(82, 162, 240));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;
  margin-top: 5px;
  transition: .5s;
}

.container-1 h2 {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: -0.2em;
  background: linear-gradient(to left, rgb(5, 32, 59), rgb(82, 162, 240));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  margin-bottom: 15px;
  transition: .5s;
}

img {
  height: 400px;
  width: 400px;
  transition: .5s;
  background-color: #DADEE2;
  margin-bottom: 17px;
}

.container-1 p {
  margin-top: 3px;
  font-family: 'Roboto Mono', monospace;
  color: #0C3D6F;
}

.container-1 .first-p {
  margin-top: 6px;
  text-align: center;
}

.container-1 a {
  font-family: 'Roboto Mono', monospace;
  color: #52A2F0;
}

.container-1 a:visited {
  color: #3A73AA;
}

@media (max-width: 664px) {
  .container-1 h1 {
    font-size: 3.2rem;
    padding: 10px;
    margin-top: 24px;
  }
  
  .container-1 h2 {
    font-size: 1.8rem;
  }
  
  .container-1 img {
    height: 350px;
    width: 350px;
    margin: 22px;
  }

  .container-1 .first-p {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .container-1 p {
    margin-top: 3px;
  }
  
  .container-1 .first-p {
    margin-top: 6px;
  }
}

@media (max-width: 420px) {
  .container-1 h1 {
    font-size: 3rem;
    padding: 10px;
    margin-top: 24px;
  }
  
  .container-1 h2 {
    font-size: 1.7rem;
  }
  
  .container-1 img {
    height: 330px;
    width: 330px;
    margin: 22px;
  }
  
  .container-1 p {
    margin-top: 3px;
    text-align: center;
  }
  
  .container-1 .first-p {
    margin-top: 6px;
  }
}

/* Projects page */

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.projects-container a {
  text-decoration: none;
}

.img-container {
  box-shadow: inset 0 0 0 0 #65B1FE;
  transition: .5s;
  height: 600px;
  width: 500px;
  margin-top: 10px;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.img-container img {
  object-fit: contain cover;
}

.img-container h1 {
  opacity: 0;
  align-self: center;
  color: white;
  font-family: 'Oswald', sans-serif;
}

.img-container p {
  opacity: 0;
  align-self: center;
  color: white;
  font-family: 'Oswald', sans-serif;
}

.img-container:hover {
  box-shadow: inset 500px 0 0 0 #26598D;
  transition: .5s;
}

.img-container:hover h1 {
  opacity: 1;
  transition: .5s;
}

.img-container:hover p {
  opacity: 1;
  transition: .5s;
}

@media (max-width: 565px) {
  .img-container {
    width: 390px;
    height: 500px;
  }
}

@media (max-width: 400px) {
  .img-container {
    width: 290px;
    height: 400px;
  }
}

/* Not Found Page */
.not-found-container {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error-icon {
  width: 280px;
  height: 280px;
}

.not-found-header {
  font-family: 'Oswald', sans-serif;
  font-size: 4rem;
  background: linear-gradient(to right, rgb(5, 32, 59), rgb(82, 162, 240));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;
  letter-spacing: -0.08em;
}

.not-found-container a {
  font-family: 'Oswald', sans-serif;
  font-size: 1.7rem;
  margin-top: 4px;
  letter-spacing: -0.05em;
  color: #326392;
}

.not-found-container a:visited {
  font-family: 'Oswald', sans-serif;
  color: #65B1FE;
}

@media (max-width: 565px) {

  .not-found-header {
    font-size: 3.5rem;
  }

  .not-found-container a {
    font-size: 1.5rem;
  }

  .error-icon {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 400px) {
  .not-found-header {
    font-size: 3.0rem;
  }

  .not-found-container a {
    font-size: 1.2rem;
  }

  .error-icon {
    width: 160px;
    height: 160px;
  }
}
